<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Report</title>
  <style>
    table, td,th, tr{
      border: 1px solid black;
    }
    table{
      width: 100%;
      border-collapse: collapse;
    }
	td{
		text-align:center;
		padding:10px;
	}
    th, td{
      width: 25%;
    }
  </style>
</head>

<body>
  <table class="table" style="width: 100%;">
    <tr>
      <td colspan="2" style="width: 50%; text-align:left;">
        Seller: <br>
        <span th:text="${content.seller}"></span><br>
        <span th:text="${content.sellerGstin}"></span><br>
        <span th:text="${content.sellerAddress}"></span><br>
      </td>
      <td colspan="2" style="width: 50%; text-align:left;">
        Buyer: <br>
        <span th:text="${content.buyer}"></span><br>
        <span th:text="${content.buyerGstin}"></span><br>
        <span th:text="${content.buyerAddress}"></span><br>
      </td>
    </tr>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Rate</th>
      <th>Amount</th>
    </tr>
    <tr th:each="item :${content.items}">
      <td th:text="${item.name}"></td>
      <td th:text="${item.quantity}"></td>
      <td th:text="${item.rate}"></td>
      <td th:text="${item.amount}"></td>
    </tr>

  </table>
</body>

</html>